<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.jufuns.ws"
    android:versionCode="1"
    android:versionName="1.0"
    android:windowSoftInputMode="adjustPan">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />

    <feature android:name="android.hardware.touchscreen" />
    <feature android:name="android.hardware.touchscreen.multitouch" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />

    <application
        android:name=".GlobalApp"
        android:icon="${APP_ICON}"
        android:label="${APP_NAME}">

        <meta-data
            android:name="URL"
            android:value="${URL}" />

        <meta-data
            android:name="DOMAIN"
            android:value="${DOMAIN}" />

        <!--<meta-data-->
            <!--android:name="INTERNAL_URL"-->
            <!--android:value="${INTERNAL_URL}"-->
            <!--/>-->

        <!--<meta-data-->
            <!--android:name="INTERNAL_DOMAIN"-->
            <!--android:value="${INTERNAL_DOMAIN}"-->
            <!--/>-->

<!--        <meta-data
            android:name="UMENG_CHANNEL_VALUE"
            android:value="${UMENG_CHANNEL_VALUE}"
            />-->

        <activity
            android:name="cn.jufuns.ws.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
            </intent-filter>
        </activity>

        <!-- 扫码和浏览窗口的activity -->
        <activity
            android:name="cn.jufuns.ws.activity.ScanningActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>

    </application>

</manifest>